#eventscategory_data_editor {
	margin:5px 8px 5px 0;
	padding:0;
	/*border:solid 1px #448ABD;*/
	border-bottom:solid 1px #448ABD;
}
#eventscategory_data_editor legend {
	font-weight:bold;
}

#eventscategory_data_editor .form {
	padding-left:10px;
	padding-right:10px;
	/*border-left:solid 2px #CCCCCC;*/
}


#eventscategory_dstart,
#eventscategory_dend,
#eventscategory_range_start,
#eventscategory_range_end{
	width:13ex;
}
#eventscategory_tstart,
#eventscategory_tend {
	width:7ex;
}

#eventscategory_reoccurance_form {
	display:none; /* TODO */
	
	margin-left:10px;
	margin-right:40px;
	margin-bottom:1ex;
	margin-top:.5ex;
}
#eventscategory_reoccurance_form.no #eventscategory_repeatevery_form,
#eventscategory_reoccurance_form #eventscategory_repeatby_form,
#eventscategory_reoccurance_form #eventscategory_repeaton_form,
#eventscategory_reoccurance_form.no #eventscategory_range_form {
	display:none;
}
#eventscategory_reoccurance_form.monthly #eventscategory_repeatby_form {
	display:block;
}
#eventscategory_reoccurance_form.weekly #eventscategory_repeaton_form {
	display:block;
}

#eventscategory_reoccurance_form span.ends {
	padding-left:1ex;
	padding-right:1ex;
}
#eventscategory_reoccurance_form {
	
}
#eventscategory_reoccurance_form .reoccuranceRow {
	line-height:2.5em;
	clear:both;
}

#eventscategory_repeaton_form .weekDay {
	margin-right:1ex;
}
#eventscategory_reoccurance_form label.main {
	margin-right:2px;
	float:left;
	text-align:right;
	width:100px;
	margin-right:1.5ex;
	font-style:italic;
}

.is_events_category fieldset.eventscategory_timestamp {
	display:none;
}
#eventscategory_data_editor {
	display:none;
}
.is_events_category #eventscategory_data_editor {
	display:block;
}
#eventscategory_posttimestamp_note_p {
	display:none;
}
.is_events_category #eventscategory_posttimestamp_note_p {
	display:block;
}
.is_events_category .eventscategory-field {
	display:none;
}

#eventscategory_location {
	margin-top:1em;
	margin-bottom:1em;
	line-height:1.9em;
}
/*#eventscategory_location label.event-label,*/
/*#eventscategory_location label.event-street-address,*/
/*#eventscategory_location label.event-extended-address,*/
/*#eventscategory_location label.event-locality,*/
/*#eventscategory_location label.event-country-name,*/
/*#eventscategory_location label.event-url,*/
/*#eventscategory_location label.event-latitude {*/
/*	float:left;*/
/*	width:80px;*/
/*	text-align:right;*/
/*	padding-right:5px;*/
/*}*/

#eventscategory_location br {
	clear:both;
}

/* Daily ***********/
#eventscategory_reoccurance_form.daily .week,
#eventscategory_reoccurance_form.daily .weeks,
#eventscategory_reoccurance_form.daily .month,
#eventscategory_reoccurance_form.daily .months,
#eventscategory_reoccurance_form.daily .year,
#eventscategory_reoccurance_form.daily .years {
	display:none;
}
#eventscategory_reoccurance_form.daily .day  { display:inline; }
#eventscategory_reoccurance_form.daily .days { display:none; }
#eventscategory_reoccurance_form.daily .plural .day  { display:none; }
#eventscategory_reoccurance_form.daily .plural .days { display:inline;  }

/* Weekly ***********/
#eventscategory_reoccurance_form.weekly .day,
#eventscategory_reoccurance_form.weekly .days,
#eventscategory_reoccurance_form.weekly .month,
#eventscategory_reoccurance_form.weekly .months,
#eventscategory_reoccurance_form.weekly .year,
#eventscategory_reoccurance_form.weekly .years {
	display:none;
}
#eventscategory_reoccurance_form.weekly .week  { display:inline; }
#eventscategory_reoccurance_form.weekly .weeks { display:none; }
#eventscategory_reoccurance_form.weekly .plural .week  { display:none; }
#eventscategory_reoccurance_form.weekly .plural .weeks { display:inline;  }


/* Monthly ***********/
#eventscategory_reoccurance_form.monthly .day,
#eventscategory_reoccurance_form.monthly .days,
#eventscategory_reoccurance_form.monthly .week,
#eventscategory_reoccurance_form.monthly .weeks,
#eventscategory_reoccurance_form.monthly .year,
#eventscategory_reoccurance_form.monthly .years {
	display:none;
}
#eventscategory_reoccurance_form.monthly .month  { display:inline; }
#eventscategory_reoccurance_form.monthly .months { display:none; }
#eventscategory_reoccurance_form.monthly .plural .month  { display:none; }
#eventscategory_reoccurance_form.monthly .plural .months { display:inline;  }


/* Yearly ***********/
#eventscategory_reoccurance_form.yearly .day,
#eventscategory_reoccurance_form.yearly .days,
#eventscategory_reoccurance_form.yearly .week,
#eventscategory_reoccurance_form.yearly .weeks,
#eventscategory_reoccurance_form.yearly .month,
#eventscategory_reoccurance_form.yearly .months {
	display:none;
}
#eventscategory_reoccurance_form.yearly .year  { display:inline; }
#eventscategory_reoccurance_form.yearly .years { display:none; }
#eventscategory_reoccurance_form.yearly .plural .year  { display:none; }
#eventscategory_reoccurance_form.yearly .plural .years { display:inline;  }